# Linear Regression - Diamond Price Predictor

#### Linear Regression and TEsting Assumptions

In [46]:
# Loading LIbraires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import linear_model

# import LinearRegression
from sklearn.linear_model import LinearRegression

# import metrics
from sklearn.metrics import mean_squared_error, r2_score

 # import train_test_split
from sklearn.model_selection import train_test_split

# import statsmodels
import statsmodels.api as sm

In [47]:
# Loading Data
df = pd.read_csv('diamonds.csv', index_col=0)

In [48]:
# Viewing Data
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [49]:
# shape of data
df.shape

(53940, 10)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

$Inference$
* The data set has object and float variables 
* No MIssing Values

In [51]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [52]:
df.corr()['price'].sort_values()

depth   -0.010647
table    0.127134
z        0.861249
y        0.865421
x        0.884435
carat    0.921591
price    1.000000
Name: price, dtype: float64

In [53]:
# Checking for null values
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [54]:
# Checking for duplicate values
df.duplicated().sum()

146

In [55]:
# check the duplicates values
df[df.duplicated()]

       carat    cut color clarity  depth  table  price     x     y     z
1006    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1007    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1008    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1009    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
2026    1.52   Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
47970   0.52  Ideal     D     VS2   61.8   55.0   1919  5.19  5.16  3.20
49327   0.51  Ideal     F    VVS2   61.2   56.0   2093  5.17  5.19  3.17
49558   0.71   Good     F     SI2   64.1   60.0   2130  0.00  0.00  0.00
50080   0.51  Ideal     F    VVS2   61.2   56.0   2203  5.19  5.17  3.17
52862   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[146 rows x 10 columns]

# Splitting OUr Dataset

In [56]:
# spliting data into dependent and independent variables
X = df.drop(['price'], axis=1)
y = df['price']

In [57]:
# creating dummy variables
X = pd.get_dummies(X, drop_first=True)
X.head()

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
1,0.23,61.5,55.0,3.95,3.98,2.43,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.21,59.8,61.0,3.89,3.84,2.31,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.23,56.9,65.0,4.05,4.07,2.31,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.29,62.4,58.0,4.20,4.23,2.63,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
5,0.31,63.3,58.0,4.34,4.35,2.75,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [58]:
# this adds the constant term to the dataset
X = sm.add_constant(X)

In [59]:
# Spliting data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21)

# Creating Linear Regression 
model = LinearRegression()

# Fitting the model
model.fit(X_train, y_train)

# Predicting the model
y_pred = model.predict(X_test)

# Checking the accuracy of the model
print('Accuracy of the model is: ', model.score(X_test, y_test))

# calculate the R-squared score
r2 = r2_score(y_test, y_pred)
print(f"R-squared score: {r2:.2f}")

Accuracy of the model is:  0.9210442589001284
R-squared score: 0.92

In [60]:
model = sm.OLS(y_train, X_train).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.919
Model:                            OLS   Adj. R-squared:                  0.919
Method:                 Least Squares   F-statistic:                 2.141e+04
Date:                Tue, 25 Apr 2023   Prob (F-statistic):               0.00
Time:                        17:21:34   Log-Likelihood:            -3.6480e+05
No. Observations:               43152   AIC:                         7.297e+05
Df Residuals:                   43128   BIC:                         7.299e+05
Df Model:                          23
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1796.5083    507.712      3.538      0.000     801.383    2791.633
carat          1.123e+04     54.431    206.258      0.000    1.11e+04    1.13e+04
depth           -57.8335      6.177     -9.363      0.000     -69.940     -45.727
table           -26.8072      3.290     -8.149      0.000     -33.255     -20.359
x              -921.4659     48.457    -19.016      0.000   -1016.443    -826.489
y                14.5712     22.331      0.653      0.514     -29.198      58.340
z              -179.5361     69.668     -2.577      0.010    -316.086     -42.986
cut_Good        588.4424     38.160     15.420      0.000     513.648     663.237
cut_Ideal       848.1495     37.905     22.376      0.000     773.856     922.443
cut_Premium     773.8698     36.645     21.118      0.000     702.045     845.695
cut_Very Good   743.6880     36.618     20.309      0.000     671.916     815.460
color_E        -204.3942     20.102    -10.168      0.000    -243.795    -164.993
color_F        -266.2807     20.342    -13.090      0.000    -306.151    -226.411
color_G        -481.2983     19.890    -24.198      0.000    -520.284    -442.313
color_H        -981.5458     21.171    -46.363      0.000   -1023.041    -940.051
color_I       -1455.6237     23.716    -61.378      0.000   -1502.107   -1409.141
color_J       -2365.8729     29.453    -80.328      0.000   -2423.600   -2308.145
clarity_IF     5326.8644     57.230     93.078      0.000    5214.692    5439.037
clarity_SI1    3646.7158     48.906     74.567      0.000    3550.860    3742.572
clarity_SI2    2674.9315     49.112     54.466      0.000    2578.670    2771.193
clarity_VS1    4559.9879     49.892     91.397      0.000    4462.199    4657.777
clarity_VS2    4242.6251     49.130     86.354      0.000    4146.329    4338.922
clarity_VVS1   4985.3876     52.853     94.326      0.000    4881.795    5088.980
clarity_VVS2   4928.4467     51.378     95.925      0.000    4827.745    5029.148
==============================================================================
Omnibus:                    11580.147   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           469471.668
Skew:                           0.569   Prob(JB):                         0.00
Kurtosis:                      19.119   Cond. No.                     7.92e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.92e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Checking Linear Regression Assumptions
We will be checking the following Linear Regression assumptions:

* No Multicollinearity

* Linearity of variables

* Independence of error terms

* Normality of error terms

* No Heteroscedasticity